.xhibit-container {
  padding: 0 65px;
}

.xbit-banner-holder {
  background-image: url('./assets/img/banner-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.font-01 {
  font-family: 'Cabin', sans-serif;
  color: #851691;
}

.relative {
  position: relative;
}

.xbit-nav-text {
  color: #3f074f;
  font-size: 40px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.xhibit-banner-box {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xhibit-banner-heading {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: bold;
  color: #3f074f;
}

.xhibit-banner-subhead {
  font-size: 40px;
  color: #3f074f;
  line-height: 1;
  margin-bottom: 10px;
}

.xhibit-banner-text {
  font-size: 20px;
  line-height: 1.2;
  color: #521f62;
}

.xbit-searchform-holder {
  padding: 40px 0;
}

.form-elements-holder {
  display: flex;
  align-items: flex-end;
}

.form-label-text {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 4px;
}

.ant-btn-primary,
.ant-btn-primary:hover {
  background-color: #e51e9f !important;
}

.ant-input:focus,
.ant-input:hover,
.ant-select-selector:hover,
.ant-select-focused .ant-select-selector {
  border-color: #e51e9f !important;
}

.ant-select-dropdown .ant-select-item-option-selected {
  color: #521f62 !important;
  background-color: rgb(240, 217, 255) !important;
}

.xbit-datagrid-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.datagrid-box {
  flex: 0 0 32%;
  background-color: white;
  margin-bottom: 2%;
}

.datagrid-image {
  width: 100%;
  background: #3f074f;
  margin: auto;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.datagrid-image img {
  width: 60%;
}

.mar-t-20 {
  margin-top: 20px;
}

.grid-text-box {
  padding: 20px;
  margin-bottom: 50px;
}

.grid-box-heading {
  color: #3f074f;
  font-size: 32px;
  margin: 0;
}

.grid-box-description {
  font-size: 20px;
  line-height: 1.2;
  color: #521f62;
}

.grid-box-status {
  font-size: 24px;
  color: #521f62;
}

.grid-box-serial {
  font-size: 16px;
  background: #333;
  color: white;
  padding: 5px 13px;
  margin-left: auto;
  width: max-content;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.grid-box-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.grid-box-missions {
  margin-right: 20px;
  margin-bottom: 10px;
}