.xhibit-container {
  padding: 0 65px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.xhibit-footer-styles {
  text-align: center;
  color: #fff;
  background-color: #3f074f;
}

.xhibit-layout-styles {
  background-color: #f0d9ff
}

.xhibit-header-styles {
  height: auto;
  background-color: transparent;
  padding: 30px 0;
}

.xbit-banner-holder {
  background-image: url('./assets/img/banner-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 100%;
  min-height: 100vh;
}

.font-01 {
  font-family: 'Cabin', sans-serif;
  color: #851691;
}

.relative {
  position: relative;
}

.xbit-nav-text {
  color: #3f074f;
  font-size: 40px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.xhibit-banner-box {
  margin-top: 20vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xhibit-banner-heading {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: bold;
  color: #3f074f;
}

.xhibit-banner-subhead {
  font-size: 40px;
  color: #3f074f;
  line-height: 1;
  margin-bottom: 10px;
}

.xhibit-banner-text {
  font-size: 20px;
  line-height: 1.2;
  color: #521f62;
}

.xbit-searchform-holder {
  padding: 40px 0;
}

.form-select-element {
  width: 200px;
  margin-right: 10px
}

.form-reset-element {
  margin-right: 10px
}

.form-section-heading {
  font-size: 48px;
  color: #3f074f;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
}

.form-search-element {
  width: 200px;
  margin-right: 10px
}

.form-elements-holder {
  display: flex;
  align-items: flex-end;
}

.form-label-text {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 4px;
}

.ant-btn-primary,
.ant-btn-primary:hover {
  background-color: #e51e9f !important;
}

.ant-input:focus,
.ant-input:hover,
.ant-select-selector:hover,
.ant-select-focused .ant-select-selector {
  border-color: #e51e9f !important;
}

.ant-select-dropdown .ant-select-item-option-selected {
  color: #521f62 !important;
  background-color: rgb(240, 217, 255) !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #e51e9f !important;
}

.ant-pagination .ant-pagination-item-active {
  border-color: #e51e9f !important;
}

a,
a:hover {
  color: #e51e9f;
}


.xbit-datagrid-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.datagrid-box {
  flex: 0 0 32%;
  background-color: white;
  margin-bottom: 2%;
}

.datagrid-image {
  width: 100%;
  background: #3f074f;
  margin: auto;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.datagrid-image img {
  width: 60%;
}

.mar-t-20 {
  margin-top: 20px !important;
}

.grid-text-box {
  padding: 20px;
  margin-bottom: 50px;
}

.grid-box-heading {
  color: #3f074f;
  font-size: 32px;
  margin: 0;
}

.grid-box-description {
  font-size: 20px;
  line-height: 1.2;
  color: #521f62;
}

.grid-box-status {
  font-size: 24px;
  color: #521f62;
}

.grid-box-serial {
  font-size: 16px;
  background: #333;
  color: white;
  padding: 5px 13px;
  margin-left: auto;
  width: max-content;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.grid-box-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.grid-box-missions {
  margin-right: 20px;
  margin-bottom: 10px;
}

.grid-pagination-hold {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  .xbit-banner-holder {
    min-height: unset;
  }

  .xhibit-banner-box {
    margin-top: 30vh;
  }

  .xhibit-banner-heading {
    font-size: 65px;
  }

  .xbit-nav-text {
    font-size: 30px;
  }

  .xhibit-header-styles {
    padding: 30px 0;
  }

  .datagrid-box {
    flex: 0 0 49%;
    background-color: white;
    margin-bottom: 2%;
  }

  .xhibit-container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 760px) {
  .grid-box-heading {
    font-size: 22px;
  }

  .grid-box-status {
    font-size: 18px;
  }

  .grid-box-description {
    font-size: 16px;
  }

  .datagrid-box {
    flex: 0 0 100%;
    margin-bottom: 15px;
  }

  .xhibit-banner-box {
    margin-top: 25vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-section-heading {
    font-size: 28px;
  }

  .form-select-element {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .form-reset-element {
    margin-right: 10px;
    margin-bottom: 10px;

  }


  .form-search-element {
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;

  }

  .form-elements-holder {
    flex-wrap: wrap;
  }

  .xhibit-container {
    padding: 0 15px;
  }

  .xhibit-header-styles {
    padding: 15px 0;
  }

  .xbit-nav-text {
    font-size: 20px;
  }

  .xhibit-banner-heading {
    font-size: 42px;
  }

  .xhibit-banner-subhead {
    font-size: 24px;
  }

  .xhibit-banner-text {
    font-size: 16px;
  }


}